/bin
/*.jar
/test-reports/
/reports/
/tmp
/export.sh
/draft
/gentest.groovy
/build/
/.gradle/
/traces/

/scratch/

# generated documentation
/index.html

# vim swap files
*.swp

# IntelliJ
/.idea/
*.iml
